/*  .col-left {
    -ms-flex: 50%; 
    flex: 50%;
}
.col-right {
        -ms-flex: 50%; 
        flex: 50%;
}  */
/*  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
 
  }  */
  
  @media (min-width: 1200px)
  {
.container{
      max-width: 1140px;
      width: 100%;
      padding: 15px;
      margin: auto;
    }
  }

  .ordersummary{
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid blue;

   
  }
  .loginform{
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid #dadada;
  }

  
  h2{
    margin: 0;
    padding-left: 15px; 
  } 
  .required{
    color: red;
  }
  label, table{
    display: block;
    margin: 15px;
  }
/*   label>span{
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
  } */
  input[type="text"], input[type="tel"], input[type="email"], select
  {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
  }
  select{
    width: 72%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
 
  table{
    margin: 0;
    padding: 0;
  }
  th{
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
  }
  tr>td:nth-child(1){
    text-align: left;
    color: #2d2d2a;
  }
  tr>td:nth-child(2){
    text-align: right;
    color: #52ad9c;
  }
  td{
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 0;
  }
  
  p{
    display: block;
    color: #888;
    margin: 0;
    padding-left: 15px;
  }

  button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  button:hover{
    cursor: pointer;
    background: #428a7d;
  }