@use "../base/colors";

#dash-orders {
  color: colors.$font-primary;
}

.content {
  padding: 0 1.3rem;
  display: none;
  overflow: hidden;
  background-color: colors.$secondary;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  color: colors.$font-secondary;
  margin-bottom: 1rem;
}

.item-1,
.item-2 {
  width: 8rem;
  height: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  h3 {
    margin: 0;
  }
  h1 {
    color: colors.$font-secondary;
    text-shadow: none;
    font-size: 1.5rem;
  }
}

.item-1 {
  background-color: colors.$contrast-primary;
}

.item-2 {
  background-color: colors.$contrast-secondary;
}
