header {
  display: flex;
  justify-content: space-between;
  background: rgba(13, 6, 39, 0.5);
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;

  position: fixed;
  width: 90%;
  top: 0;
  z-index: 1000;
}

header h1 {
  color: #e4bfff;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
