@use "../base/colors";

#dash-keg {
  & .item-container {
    color: colors.$font-primary;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    gap: 8px;
  }

  & .keg-name {
    font-size: 1rem;
    width: 100%;
  }

  & .item-keg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
    padding: 15px 20px;
    background-color: colors.$font-primary;
    color: colors.$font-secondary;
    border-radius: 6px;
    gap: 8px;

    & img {
      width: 50px;
    }
    & p {
      width: 15%;
      color: colors.$font-secondary;
    }

    & .keg-left {
      text-shadow: none;
      font-size: 2.5rem;
    }
  }
}
