$base: #0d0627;
$primary: #4c30b4;
$secondary: #1b0b52;
$tertiary: #7f6bc8;

$contrast-primary: #aa40f8;
$contrast-secondary: #c8f42e;

$validated: #92e285;
$not-validated: #ff004d;

$font-primary: #ffffff;
$font-secondary: #000000;
$font-tertiary: #e4bfff;
