@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Passion+One&display=swap");

$primary-font: "Passion One", sans-serif;
$secondary-font: "Lato", sans-serif;

$font-weight-regular: 400;
$font-weight-light: 300;

$line-height: 1;
$seconday-line-height: 1.3;
