.db-desktop {
  display: grid;
  grid-template-columns: 22% 1fr;
  background: #6f6593;
  height: 100vh;

  .db-bar-view {
    position: relative;

    .bartenders-at-counter {
      display: flex;
      position: absolute;
      top: 18vw;
      left: 10vw;
      width: 60vw;
      justify-content: space-between;

      .bt-at-counter {
        position: relative;
        width: 8.5vw;
      }
    }
    .bartenders-at-bar {
      display: flex;
      position: absolute;
      top: 36vw;
      left: 7vw;
      width: 61.5vw;
      justify-content: space-between;

      .bt-pouring {
        position: relative;
        width: 12vw;
      }
    }
    svg {
      position: absolute;
    }
  }
}
