.db-desktop {
  display: grid;
  grid-template-columns: 25% 1fr;
  background: #6f6593;
  height: 100vh;

  .db-bar-view {
    position: relative;

    .bartenders {
      position: absolute;
      top: 12vw;
      left: 9vw;

      .bartender-at-counter {
        width: 11vw;
      }
    }

    svg {
      position: absolute;
    }
  }
}
