.db-info {
  /* TABLE */
  font-size: 0.9rem;
  .list {
    border-collapse: collapse;
  }

  .list tbody tr td {
    padding: 1px;
  }

  .list tbody tr:nth-child(odd) td {
    background-color: lightblue;
    border-right: rgb(234, 247, 255) 2px dotted;
  }

  .list tbody tr:nth-child(even) td {
    border-right: rgb(234, 247, 255) 2px dotted;
  }
}

.db-desktop {
  display: grid;
  grid-template-columns: 22% 1fr;
  background: #6f6593;
  height: 100vh;

  .db-bar-view {
    position: relative;
    .queue {
      position: absolute;
      top: 8vw;
      left: 10vw;
      width: 40vw;
    }
    .customers {
      display: flex;
      position: absolute;
      top: 14vw;
      left: 8vw;
      width: 60vw;
      justify-content: space-between;

      .customer {
        visibility: hidden;
        position: relative;
        width: 6.3vw;
      }
    }
    .bartenders-at-counter {
      display: flex;
      position: absolute;
      top: 18vw;
      left: 10vw;
      width: 60vw;
      justify-content: space-between;

      .bt-at-counter {
        position: relative;
        width: 8.5vw;
      }
    }
    .bartenders-at-bar {
      display: flex;
      position: absolute;
      top: 37vw;
      left: 7.2vw;
      width: 62.8vw;
      justify-content: space-between;

      .bt-pouring {
        position: relative;
        width: 12vw;
      }
    }
    svg {
      position: absolute;
    }
    g.beer_front {
      visibility: hidden;
    }
  }
}
