@use "../base/colors";
@use "../base/fonts";

.login-header {
  margin: 5rem 0 0 5rem;
  h2 {
    margin-bottom: 2rem;
  }
  a {
    color: colors.$font-primary;
    text-decoration: none;
    &:hover {
      color: colors.$font-tertiary;
    }
  }
}

.container-login-page {
  margin: 5rem;
}

.mutable-container-login,
.mutable-container-guest {
  display: none;
}

.container-login-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;

  h1,
  h2 {
    font-family: lato;
    text-shadow: none;
    color: colors.$font-primary;
  }
}

h2.payment {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

table {
  margin-top: 3rem;
  width: 100%;
}

.total-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
  margin-top: 2rem;
  border-top: 1px solid white;
  justify-content: right;
  align-self: stretch;
}

.cart-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25rem;
  align-items: flex-start;
}

.login-form {
  width: 20rem;
}

.item img {
  width: 2rem;
  height: auto;
}

input[type="checkbox"] {
  outline: 1px solid colors.$contrast-primary;
  transform: scale(1.5);
  margin: 0 1rem 1rem 0.5rem;
}

button#button-continue {
  width: 8rem;
  height: 2rem;
  align-self: flex-end;
  margin-top: 3rem;
}

.display {
  display: block;
  background-color: #0000;
}

// ***text input***

#first-modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      font-size: 1rem;
    }

    .payment-container {
      display: flex;
      gap: 2rem;
    }

    .input-container {
      position: relative;
      margin-bottom: 0.5rem;
      width: 79%;

      #phone {
        width: 10rem;
      }

      .cc-number-input {
        width: 15.4rem;
        padding-left: 0;
        font-size: 1rem;
        padding-left: 1rem;
      }

      .cc-expiry-input {
        width: 7rem;
        padding-left: 0;
        text-align: center;
        font-size: 1rem;
      }
      .cc-cvc-input {
        width: 7rem;
        padding-left: 0;
        text-align: center;
        font-size: 1rem;
      }

      input {
        height: 1.7rem;
        border-radius: 5px;
        letter-spacing: 0.5px;
        padding-left: 5px;
        width: 285px;
      }

      label.placeholder {
        color: colors.$secondary;
        top: 0.3rem;
        left: 0.5rem;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
      }

      input:focus ~ .cut,
      input:not(:placeholder-shown) ~ .cut {
        transform: translateY(0.2rem);
      }

      input:focus ~ label.placeholder,
      input:not(:placeholder-shown) ~ label.placeholder {
        transform: translateY(-1.7rem) translateX(0.2rem) scale(0.9);
      }

      input:not(:placeholder-shown) ~ label.placeholder {
        background-color: colors.$secondary;
        color: colors.$font-primary;
        padding: 1px 5px;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: -2px;
      }

      input:focus ~ label.placeholder {
        background-color: colors.$secondary;
        color: colors.$validated;
        padding: 1px 5px;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: -2px;
      }
    }

    // input[type="text"],
    // input[type="email"],
    // input[type="tel"] {
    //   &:invalid:not(:placeholder-shown) {
    //     & ~ .requirements {
    //       visibility: visible;
    //     }
    //   }
    // }

    // .requirements {
    //   visibility: hidden;
    //   color: colors.$not-validated;
    //   font-size: 0.7rem;
    //   text-align: right;
    // }
  }

  .payment-container {
    width: 56%;
  }
}
