@use "../base/colors";

.dash-container {
  margin: 1rem;
  box-sizing: border-box;
  height: 90%;
  min-width: 230px;
}

svg {
  float: right;
  margin-top: -7px;
}

.components {
  -webkit-box-shadow: 4px 4px 8px -1px #4c30b4;
  box-shadow: 4px 4px 8px -1px #4c30b4;
  margin: 30px 10px 0px 0px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colors.$primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: colors.$primary;
}
