@use "../base/colors";

.beer-component {
  width: 85%;
  .content {
    padding: 0;
    width: 121%;
    background-color: colors.$secondary;
    width: -webkit-fill-available;
  }
  p {
    margin: 0 1rem 0 1rem;
  }

  .collapsible {
    &:hover {
      background-color: colors.$secondary;
    }
  }

  .collapsible {
    height: 1rem;
    width: -webkit-fill-available;
  }
}
