@use "../base/colors";

.beer-component {
  width: 80%;
  .content {
    padding: 0;
    width: 114%;
    background-color: colors.$secondary;
  }
  p {
    margin: 0 1rem 0 1rem;
  }

  .collapsible {
    &:hover {
      background-color: colors.$secondary;
    }
  }
}
