@use "../base/colors";
@use "../base/fonts";

//button
.productlistButton {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.1 /* 0.781 */);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  outline: none;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 1rem;
  font-family: /* $secondary-font */ "Lato", sans-serif;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;

  //my changes
  width: 5.5rem;
  height: 1rem;
  margin-top: 1rem;
}

.productlistButton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.productlistButton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.productlistButton:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.hidden {
  visibility: hidden;
}

.noScroll {
  overflow: hidden;
}

#pageMask {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#productlist {
  background: linear-gradient(
    0deg,
    rgba(76, 48, 180, 1) 0%,
    rgba(13, 6, 39, 1) 35%
  );
}

#heading {
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(13, 6, 39, 1) 10%,
      rgba(13, 6, 39, 0) 60%
    ),
    url("assets/home-cover-new.jpg");
  background-size: cover;
  background-position-x: center;

  background-repeat: no-repeat;
}

.mainHeading {
  margin-left: 5%;
  margin-right: 5%;
  width: 28%;
  margin-top: 20%;
}

.welcomeText {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4rem;
  width: 40%;
  font-weight: 300;
}

#beerList {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4rem;
}

.scrollArrowsContainer {
  display: flex;
}

.scrollArrow2 {
  width: 3em;
  scale: 0.5;
  margin-right: -3rem;
}

.scrollArrow1 {
  width: 3em;
  scale: 0.5;
  margin-left: -3rem;
}

.productlistStart {
  width: 0px;
}

.productlistEnd {
  width: 0px;
  align-self: flex-end;
}

.beersContainer {
  margin-top: 2rem;
  padding-left: 4rem;
  display: flex;
  //overflow-x:hidden;

  /* add padding to top and left */

  overflow-x: hidden;
  gap: 4rem;
  align-items: flex-end;
}

.beer {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.beer Figure {
  margin: 0;
  margin-bottom: 10px;
}

.beerGlass {
  width: 100px;
}

.productlistBeerInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
}

.beerGlass:hover {
  -webkit-filter: drop-shadow(0px 0px 55px #e9ccff);
  filter: drop-shadow(0px 0px 55px #e9ccff);
}

.beerGlass:active {
  -webkit-filter: drop-shadow(0px 0px 55px #e9ccff);
  filter: drop-shadow(0px 0px 55px #e9ccff);
}

.beerName,
.beerCategory,
.beerPrice {
  margin-top: 1rem;
}

.beerName {
  margin-bottom: -10px;
  text-align: center;
}

.beerCategory {
  font-weight: 300;
  margin-bottom: 10px;
}

#aboutFoobar {
  margin-top: 10rem;
  margin-bottom: 80px;
}

#aboutFoobar .secondaryHeading {
  text-align: center;
}

.aboutTextContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.aboutText {
  width: 60%;
  margin-left: 20%;
  font-weight: 300;
}

#productListFooter {
  margin-top: 8rem;
}

footer h1 {
  margin: 0;
}

.soMe img {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.logoSoMeContainer {
  display: flex;
  gap: 2rem;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-bottom: 30px;
}

.formalitiesContainer {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.formalities {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

//modal
#modal {
  background-color: /* $base */ #0d0627;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;

  z-index: 2;
  max-height: 80vh;
}

.textContainer::-webkit-scrollbar {
  display: none;
}

.textContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.productHeadingContainer {
  padding-top: 2rem;
}

.productModalHeading {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

.textContainer {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 60vh;
  overflow-y: scroll;
}

.modalCategoryText,
.modalAlcoholText,
.modalVolumeText {
  margin-top: -1rem;
}

.adjustAmount {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.modalImpression {
  text-align: justify;
  hyphens: auto;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.beerProductImage {
  width: 100%;
}

.exitModal {
  width: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

//cart
#cart {
  background-color: /* $base */ #0d0627;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: fit-content;
  width: 25rem;
  z-index: 2;
}

.cartHeadingContainer {
  display: flex;
}

.exitCart {
  width: 2rem;
  margin-left: auto;
  cursor: pointer;
}

.cartProduct {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cartProductImage {
  width: 2rem;
}

.cartNameAmount {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-left: 2rem;
}

.adjustAmount {
  margin-top: 1rem;
}

.cartName {
  font-size: 1.2rem;
}

.cartPrice {
  margin-left: auto;
  font-size: 1.2rem;
}

.modalRemoveCart {
  height: 2rem;
  width: 2rem;
  margin-left: 2rem;
  background: url("/assets/icons/removeCart.svg") no-repeat;
  background-size: cover;
  border: none;
}

.cartDivider {
  width: 100%;
  border-top: 0.1rem solid white;
  margin-bottom: 2rem;
}

.cartTotalPrice1,
.cartTotalPrice2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.cartTotalPriceContainer {
  display: flex;
  justify-content: space-between;
}

/* MIT License

Copyright (c) 2021 Gerrit Halfmann

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. */
